---
import Layout from "../layouts/Layout.astro";
import penguins from "../assets/penguins.json";
import Graphicspecies from "../components/Graphicspecies.astro";

// Liste unique des espèces
const species = [...new Set(penguins.map((p) => p.species))].sort();
---

<Layout title="Statistiques des manchots">
  <div class="px-4 py-2">
    <label
      for="speciesSelect"
      class="block mb-2 text-lg font-semibold text-gray-700"
    >
      Choisissez une espèce :
    </label>
    <select
      id="speciesSelect"
      class="p-2 rounded-md bg-white text-gray-800 border !border-gray-300 focus:!outline-none focus:!ring-2 focus:!ring-blue-500 mb-4"
    >
      <option value="">-- Sélectionnez --</option>
      {
        species.map((name) => (
          <option value={name.toLowerCase()}>{name}</option>
        ))
      }
    </select>
  </div>

  <!-- Slider horizontal avec scroll-snap -->
  <div class="flex overflow-x-auto scroll-smooth snap-x snap-mandatory">
    {
      species.map((name) => (
        <section
          class="min-w-full snap-start rounded-xl border border-slate-200 bg-white shadow-sm"
          id={name.toLowerCase()}
        >
          <h2 class="mb-2 text-2xl font-semibold px-8">{name}</h2>
          <div class="w-full flex px-12">
            <Graphicspecies species={name} />
          </div>
        </section>
      ))
    }
  </div>

  <!-- Script pour navigation par select -->
  <script>
    document
      .querySelector("#speciesSelect")
      ?.addEventListener("change", (evt) => {
        const value = evt.target.value;
        if (value) {
          location.hash = `#${value}`;
        }
      });
  </script>
</Layout>
